<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- KÜTÜPHANELER  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- KÜTÜPHANELER  -->

    <!-- CSS  -->
    <style>
        body
        {
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        } 
        
        .bir, .footer1
        {
        margin-left: 10%;
        padding-right: 50px;
        float: left; 
        width:40%;
        } 
        
        .iki, .footer2
        { 
        padding-right: 50px;
        float: left;
        width:40%;
        }

        .card {
        margin-bottom: 10px;
        }

        input[type=checkbox]:checked + label.strikethrough{
        text-decoration: line-through;
        color: grey;
        }

        footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1a78c3;
        color: white;
        text-align: center;
        }
    </style>
    <!-- CSS  -->

</head>
<body ng-app="myApp">
    
<!-- İLK BÖLÜM • BAŞLANGIÇ  -->
    <div class="bir" ng-controller="todoCtrl">
        <h2>To-Do Liste</h2>
        <form ng-submit="todoAdd()" class="form-inline">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" ng-model="todoInput" size="74" placeholder="Yapılması gereken yeni bir iş ekle!" required/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div ng-repeat="x in todoList" class="list-group-item list-group-item-warning">
            <div class="form-check"><input class="form-check-input" type="checkbox" ng-model="x.done"/><label class= "strikethrough" ng-bind="x.todoText"></label></div>
        </div>
        <br>
        <button ng-click="remove()" class="btn btn-danger"><i class="fas fa-trash"></i> SEÇİLİ OLANLARI SİL</button>
    </div>
<!-- İLK BÖLÜM • BİTİŞ  -->

<!-- İKİNCİ BÖLÜM • BAŞLANGIÇ  -->
    <div class="iki" ng-controller="todoCtrl2">
        <h2>To-Do Kartlar</h2>
        <form ng-submit="todoAdd()" class="form-inline">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" ng-model="todoInput" size="74" placeholder="Yapılması gereken yeni bir iş ekle!" required/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div ng-repeat="x in todoList2 track by $index" ng-if="$index % 2 == 0" class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color: #ffeeba;"><button ng-click="remove2(x)" class="btn btn-danger" style="float: right;"><i class="fas fa-trash"></i></button></div>
                    <div class="card-body">
                        <p>{{ todoList2[$index].todoText }}</p>
                    </div>
                </div>
            </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background-color: #ffeeba;"><button ng-click="remove2(x)" class="btn btn-danger" style="float: right;"><i class="fas fa-trash"></i></button></div>
                <div class="card-body">
                    <p>{{ todoList2[$index + 1].todoText }}</p>
                </div>
            </div>
        </div>
      </div>
        <br>
        <button ng-click="removeall()" class="btn btn-danger"><i class="fas fa-trash"></i> HEPSİNİ SİL</button>
    </div>
<!-- İKİNCİ BÖLÜM • BİTİŞ  -->

<!-- SCRIPT BAŞLANGIÇ  -->
    <script>
        var app = angular.module('myApp', []);
        app.controller('todoCtrl', function ($scope) {
            var todoList = this;
            $scope.todoList = [
                {
                    todoText: 'Ekmek al',
                    done: false
                },
                {
                    todoText: 'Çöpleri dök',
                    done: false
                },
                {
                    todoText: 'Ölümün Eşiği kitabında 129.sayfadan devam et',
                    done: false
                }
            ];
 
            $scope.todoAdd = function () {
 
                $scope.todoList.push({ todoText: $scope.todoInput, done: false });
                $scope.todoInput = "";
 
            };

            $scope.remaining = function() {
            var count = 0;
            angular.forEach($scope.todoList, function(todo) {
                count += todo.done ? 0 : 1;
            });
            return count;
            };
 
            $scope.remove = function () {
 
                var oldList = $scope.todoList;
                $scope.todoList = [];
                angular.forEach(oldList, function (x) {
                    if (!x.done) $scope.todoList.push(x);
                });
            };
 
        });

        app.controller('todoCtrl2', function ($scope) {
            var todoList2 = this;
            $scope.todoList2 = [
                {
                    todoText: "Deniz'e Whatsapp üzerinden mesaj at",
                    done: false
                },
                {
                    todoText: 'Tez için araştırma yapılacak websiteleri araştır',
                    done: false
                },
                {
                    todoText: 'Belgeler/borclar.xlsx dosyasını kontrol et',
                    done: false
                },
                {
                    todoText: 'Drive üzerinden dosya aktarımlarını tamamla',
                    done: false
                }
            ];
 
            $scope.todoAdd = function () {
 
                $scope.todoList2.push({ todoText: $scope.todoInput, done: false });
                $scope.todoInput = "";
 
            };

            $scope.remaining = function() {
            var count = 0;
            angular.forEach($scope.todoList2, function(todo) {
                count += todo.done ? 0 : 1;
            });
            return count;
            };

            $scope.remove2 = function(item) { 
            var index = $scope.todoList2.indexOf(item);
            $scope.todoList2.splice(index, 1);     
            }
 
            $scope.removeall = function () {
                var oldList = $scope.todoList2;
                $scope.todoList2 = [];
                angular.forEach(oldList, function (x) {
                    if (x.done) $scope.todoList2.push(x);
                });
            };
 
        });
    </script>
<!-- SCRIPT BİTİŞ  -->

<!-- FOOTER BAŞLANGIÇ -->
<footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="footer1" ng-controller="todoCtrl as todoList">
          <h5 class="text-uppercase font-weight-bold">Liste Verileri</h5>
          <p>Yapılan İşler: {{ remaining() }} <br>Bekleyen İşler: {{ todoList.length }}</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="footer2" ng-controller="todoCtrl2 as todoList2">
          <h5 class="text-uppercase font-weight-bold">Kart Verileri</h5>
          <p>Yapılan İşler: {{ remaining() }}<br>Bekleyen İşler: {{ todoList2.length }}</p>
        </div>
      </div>
    </div>
  </footer>
<!-- FOOTER BİTİŞ -->
</body>
</html>
